/********************styles for tags******************************/
body {
  background-color: #ffffff;
  font-family: 'ABeeZee', sans-serif;
}

h1 {
  color: #000000;
}

h2 {
  color: #000000;
  margin-bottom: 0px;
}

h3 {
  color: #858585;
}

h3:hover {
  color: #05BA61;
}

a {
  margin-left: 3px;
  color: #858585;
  text-decoration: none;

}
a:hover{
  color: #05BA61;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 5%
}

button {
  background-color: #05BA61;
  color: #FFFFFF;
}

td {
  padding-top: 0px;
}

/********************styles for classes******************************/
.top {
  padding-top: 10px;
  position: relative;
}

.logo {
  width: 50px;
}

.logo-title {
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 60px;
}

.navbar {
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 20px;
}

.bottom {
  margin: 50px;
  text-align: center;
  position: relative;
}

.left-cloud {
  position: absolute;
  left: 50px;
  bottom: 200px;
}

.stand {}

.right-cloud {
  position: absolute;
  right: 50px;
}

.sellerimg {
  width: 200px;
  height: 100px;
}

.sellerimg:hover h3 {
  color: #05BA61;
}

/********************styles for ids******************************/
/*
#nearme{
  color: red;
}
*/
